<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.together.modules.order.mapper.OrderMapper">

    <select id="queryOrderByShopId" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT s.shop_id,o.* FROM shop s LEFT JOIN order_bot o ON s.shop_id = o.shop_id WHERE s.shop_id=#{shop_id}
        <if test="order_status !=null and order_status != ''">
        and o.order_status = #{order_status}
        </if>

        limit #{rowIndex},#{limit}
    </select>

    <select id="queryOrderByShopIdCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(1) FROM shop s LEFT JOIN order_bot o ON s.shop_id = o.shop_id WHERE s.shop_id=#{shop_id}
        <if test="order_status !=null and order_status != ''">
            and o.order_status = #{order_status}
        </if>
    </select>

    <select id="queryOrderByUserId" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT * from order_bot WHERE user_id=#{userId} limit #{rowIndex},#{limit} order by add_time desc
    </select>

    <select id="getUserOrdersEqStatus" resultType="java.util.Map" parameterType="java.util.Map">
        select * from order_bot WHERE user_id=#{userId} and order_status=#{orderStatus} limit #{rowIndex},#{limit}  order by add_time desc
    </select>
</mapper>
